#formOne {
display: block;
margin-left: 300px;
margin-right: 300px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: lightgrey;
}

#contactusfieldset {
  height: 500px;
}

#pageonemain {
  height: 600px;
}

select {
  display: block;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: maroon;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(248, 68, 68);
}

input {
  display: block;
  padding: 10px;
}

label {
  font-size: larger;
}

#subject {
  display: block;
}

#submitbtn {
  margin-top: 15px;
}

#adrianimg {
  border-radius: 50%;
  height: 300px;
}

#mikeimg {
  border-radius: 50%;
  height: 300px;
}

#robertimg {
  border-radius: 50%;
  height: 300px;
}

#colterimg {
  border-radius: 50%;
  height: 300px;
}

.adrianprofile {
  border: 1px solid black;
}

.mikeprofile {
  border: 1px solid black;
}

.robertprofile {
  border: 1px solid black;
}

.colterprofile {
  border: 1px solid black;
}

.adrianprofile p {
  width: 90ch;

}

.mikeprofile p {
  width: 90ch;

}

.robertprofile p {
  width: 90ch;

}

.colterprofile p {
  width: 90ch;

}


